<footer class="footer mt-auto py-3 bg-light border-top">
  <div class="container-fluid">
    <div class="d-flex justify-content-between align-items-center">
      <span class="text-muted small">© {{currentYear}} - Flagus by <a href='https://github.com/RudinMaxim'>@RudinMaxim</a></span>
      <span class="text-muted small">Версия: {{appVersion}}</span>
    </div>
  </div>
</footer>

<style>
  .footer {
    font-size: 0.875rem;
  }
</style>