<header class='navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow'>
  <a class='navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6' href='/'>
    <i class='bi bi-flag-fill me-2'></i>Flagus
  </a>
  <button
    class='navbar-toggler position-absolute d-md-none collapsed'
    type='button'
    data-bs-toggle='collapse'
    data-bs-target='#sidebarMenu'
    aria-controls='sidebarMenu'
    aria-expanded='false'
    aria-label='Toggle navigation'
  >
    <span class='navbar-toggler-icon'></span>
  </button>
  <div class='d-flex flex-grow-1'>
    <input
      class='form-control form-control-dark w-100 rounded-0 border-0'
      type='text'
      placeholder='Search flags...'
      aria-label='Search'
      hx-get='/api/client/flags/search'
      hx-trigger='keyup changed delay:500ms'
      hx-target='#flagsSearchResults'
      hx-indicator='#search-indicator'
    />
    <span
      id='search-indicator'
      class='htmx-indicator spinner-border spinner-border-sm text-light my-auto mx-2'
      role='status'
    ></span>
  </div>
  <div class='navbar-nav'>
    <div class='nav-item text-nowrap'>
      {{#if user}}
        <div class='dropdown'>
          <a
            class='nav-link px-3 dropdown-toggle'
            href='#'
            role='button'
            data-bs-toggle='dropdown'
            aria-expanded='false'
          >
            <i class='bi bi-person-circle me-1'></i>{{user.name}}
          </a>
          <ul class='dropdown-menu dropdown-menu-end'>
            <li><a class='dropdown-item' href='/profile'><i
                  class='bi bi-person me-2'
                ></i>Profile</a></li>
            <li><hr class='dropdown-divider' /></li>
            <li>
              <a
                class='dropdown-item'
                href='/logout'
                hx-post='/api/v1/auth/logout'
                hx-push-url='true'
                hx-target='body'
              >
                <i class='bi bi-box-arrow-right me-2'></i>Logout
              </a>
            </li>
          </ul>
        </div>
      {{else}}
        <a class='nav-link px-3' href='/login'>
          <i class='bi bi-box-arrow-in-right me-1'></i>Login
        </a>
      {{/if}}
    </div>
  </div>
</header>

<div
  id='flagsSearchResults'
  class='position-absolute top-100 start-0 end-0 bg-white shadow-lg z-3 border d-none'
  _='on htmx:afterOnLoad add .d-block remove .d-none
        on click away remove .d-block add .d-none
        on htmx:beforeSwap set my.scrollTop to 0'
></div>