<!DOCTYPE html>
<html lang="ru">
<head>
  {{> head }}
</head>
<body class="d-flex flex-column min-vh-100">
  <div class="d-flex">
    {{> sidebar }}
    
    <div class="content-wrapper flex-grow-1">
      {{> header }}
      
      <main class="container-fluid py-3">
        {{> notifications }}
        {{{body}}}
      </main>
      
      {{> footer }}
    </div>
  </div>

  {{> scripts }}
</body>
</html>
